<!DOCTYPE html>
<html lang="en">
<head>
  {include file="common/meta" /}
</head>
<body>
  {if !IS_DIALOG}
  <section class="content-header-sail clearfix">
    <ol class="breadcrumb pull-left">
      <li><a href="{:url('/admin')}" class="addtabsit"><i class="fa fa-dashboard"></i> {:__('Dashboard')}</a></li>
    </ol>
    <ol class="breadcrumb pull-right">
      {foreach $breadcrumb as $vo}
      <li><a href="javascript:;" data-url="{$vo.url}">{$vo.title}</a></li>
      {/foreach}
    </ol>
  </section>
  {/if}

  <section class="content">
    {__CONTENT__}
  </section>
  
  {include file="common/script" /}
</body>
</html>