<form role="form" action="{:url('/admin/test/form')}" method='POST' data-parsley-validate="true" novalidate>
  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">Form Demo</h3>
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>名稱 <span class="text-danger">*</span></label>
            <div class="controls">
                <input type="text" name="row[name]" class="form-control" placeholder="名稱" data-parsley-required="true">
            </div>
          </div>
        
          <div class="form-group">
            <label>電郵-郵箱嚴重</label>
            <div class="controls">
                <input type="email" name="row[email]" class="form-control" placeholder="電郵" data-parsley-email="true">
            </div>
          </div>
        
          <div class="form-group">
            <label>電話-電話驗證</label>
            <div class="controls">
                <input type="text" name="row[mobile]" placeholder="電話" class="form-control" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
            </div>
          </div>

          <div class="form-group">
            <label>價格-正浮點數驗證</label>
            <div class="controls">
                <input type="text" name="row[price]" class="form-control" placeholder="價格" data-parsley-type="number" data-parsley-min="0" />
            </div>
          </div>

          <div class="form-group">
            <label>庫存-正整數驗證</label>
            <div class="controls">
              <input type="number" name="row[stock]" class="form-control" placeholder="庫存" value="" data-parsley-pattern="\d+"/>
            </div>
          </div>

          <div class="form-group">
            <label>select2</label>
            <div class="controls">
              <select class='select2 hidden' style='width:100%;'>
                <option value=''>請選擇</option>
                <option value=''>sail</option>
                <option value=''>test</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>datepicker</label>
            <div class="controls">
              <input type="text" class="form-control datepicker">
            </div>
          </div>

          <div class="form-group">
            <label>daterangepicker</label>
            <div class="controls">
              <input type="text" class="form-control datetimerange">
            </div>
          </div>

          <div class="form-group">
            <label>plupload</label>
            <div class="controls">
                <input id="c-image" class="form-control" name="row[img]" type="hidden" value="">
                <button 
                    type="button" 
                    id="plupload-image" 
                    class="btn btn-danger btn-sm plupload" 
                    data-input-id="c-image" 
                    data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" 
                    data-multiple="true" data-preview-id="p-image"><i class="fa fa-upload"></i> 選擇圖片</button>
                <span class="msg-box n-right"></span>
                <div class="m-t-10">
                    <ul class="row list-inline plupload-preview" id="p-image"></ul>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary" disabled>submit</button>
      <button type="reset" class="btn btn-default">reset</button>
    </div>
  </div>
</form>