<div class="box box-default">
  <div class="box-header">
      <h3 class="box-title">Modal && Form</h3>
      <div class="pull-right box-tools">
      <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
          <i class="fa fa-minus"></i>
      </button>
      </div>
  </div>
  <div class="box-body">
      <button type="button" class="btn btn-default action-modal-bootstrap">bootstrap</button>
      <button type="button" class="btn btn-default action-modal-layer">layer</button>
  </div>
</div>

<div class="box box-default">
  <div class="box-header">
      <h3 class="box-title">Ajax</h3>
      <div class="pull-right box-tools">
      <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
          <i class="fa fa-minus"></i>
      </button>
      </div>
  </div>
  <div class="box-body">
      <button type="button" class="btn btn-success btn-sm action-ajax" data-type='success'>success</button>
      <button type="button" class="btn btn-danger btn-sm action-ajax" data-type='error'>error</button>
  </div>
</div>