<form class='modal-layer-form' action="{:url('admin/example.modalform/modal')}" method="POST">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>名稱 <span class="text-danger">*</span></label>
        <div class="controls">
            <input type="text" name="row[name]" class="form-control" placeholder="名稱" data-rule="required">
        </div>
      </div>
    
      <div class="form-group">
        <label>電郵-郵箱嚴重</label>
        <div class="controls">
            <input type="text" name="row[email]" class="form-control" placeholder="電郵" data-rule="email" data-rule-email="[/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, 'email err']">
        </div>
      </div>
    
      <div class="form-group">
        <label>電話-電話驗證</label>
        <div class="controls">
            <input type="text" name="row[mobile]" placeholder="電話" class="form-control" data-rule="mobile" data-rule-mobile="[/^[\d\+\-\.\(\)\/\s]*$/, 'mobile err']">
        </div>
      </div>

      <div class="form-group">
        <label>價格-正浮點數驗證</label>
        <div class="controls">
            <input type="text" name="row[price]" class="form-control" placeholder="價格" data-rule="price" data-rule-price="[/(^[1-9]\d*(\.\d{1,2})?$)|(^0(\.\d{1,2})?$)/, 'price err']" />
        </div>
      </div>

      <div class="form-group">
        <label>庫存-正整數驗證</label>
        <div class="controls">
          <input type="text" name="row[stock]" class="form-control" placeholder="庫存" data-rule="stock" data-rule-stock="[/^\d+$/, 'stock err']"/>
        </div>
      </div>

      <div class="form-group">
        <label>select2</label>
        <div class="controls">
          <select name="row[select2][]" class='select2 hidden' multiple>
            <option value=''>請選擇</option>
            <option value='sail' selected>sail</option>
            <option value='test'>test</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>select2ajax</label>
        <div class="controls">
          <select 
            name="row[select2ajax][]"
            class="select2ajax hidden" 
            data-url="{:url('admin/example.modalform/select2ajax')}" 
            data-result="name" 
            data-selection="name" 
            data-where="id|name" multiple="">
            <option value="14" selected>143</option>
            <option value="2" selected>移动应用</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>selectpage</label>
        <div class="controls">
          <input id="c-category_id" 
            data-rule="required" 
            data-source="{:url('admin/example.modalform/selectpage')}"
            data-params='{"custom[type]":"test"}' 
            class="form-control selectpage" 
            name="row[category_id]" type="text" value="">
        </div>
      </div>

      <div class="form-group">
        <label>datepicker</label>
        <div class="controls">
          <input type="text" class="form-control datepicker">
        </div>
      </div>

      <div class="form-group">
        <label>daterangepicker</label>
        <div class="controls">
          <input type="text" class="form-control datetimerange">
        </div>
      </div>

      <div class="form-group">
          <label>datetimepicker</label>
          <div class="controls">
            <input type="text" class="form-control datetimepicker">
          </div>
      </div>

      <div class="form-group">
        <label>plupload</label>
        <div class="controls">
            <input id="c-image" class="form-control" name="row[img]" type="hidden" value="">
            <button 
              type="button" 
              id="plupload-image" 
              class="btn btn-danger btn-sm plupload" 
              data-input-id="c-image" 
              data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" 
              data-multiple="true" 
              data-preview-id="p-image"><i class="fa fa-upload"></i> 上傳圖片</button>
            <button 
              type="button" 
              id="fachoose-image" 
              class="btn btn-primary btn-sm fachoose" 
              data-input-id="c-image" 
              data-mimetype="image/*" 
              data-multiple="false"><i class="fa fa-list"></i> 選擇圖片</button>
            <span class="msg-box n-right"></span>
            <div class="m-t-5">
                <ul class="row list-inline plupload-preview" id="p-image"></ul>
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label>cxselect</label>
        <div class="form-inline" data-toggle="cxselect" data-selects="province,city,area">
            <select class="province form-control" name="row[province]" data-url="{:url('/admin/ajax/area')}"></select>
            <select class="city form-control" name="row[city]" data-url="{:url('/admin/ajax/area')}"></select>
            <select class="area form-control" name="row[area]" data-url="{:url('/admin/ajax/area')}"></select>
        </div>
      </div>

      <div class="form-group">
        <label>fieldlist</label>
        <dl class="fieldlist" data-name="row[languages]">
            <dd>
                <ins>key</ins>
                <ins>value</ins>
            </dd>
            <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
            <textarea name="row[languages]" class="form-control hide" cols="30" rows="5"></textarea>
        </dl>
      </div>

      <div class="form-group">
        <label>switcher</label>
        <div>
          <input id="c-switcher" name="row[switcher]" type="hidden" value="{:true?1:0}">
          <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-switcher" data-yes="1" data-no="0">
              <i class="fa fa-toggle-on text-success {if !true}fa-flip-horizontal text-gray{/if} fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="form-group">
        <label>summernote</label>
        <div class="controls">
            <textarea name="row[note]" class="summernote hidden"></textarea>
        </div>
      </div>

    </div>
    
    <div class="form-group layer-footer hidden">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        <button type="button" class="btn btn-default btn-embossed">{:__('Close')}</button>
      </div>
    </div>
  </div>
</form>
