// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "~font-awesome/scss/font-awesome";

// Ionicons
@import "~ionicons/dist/css/ionicons.css";

// iCheck
@import "~icheck/skins/square/blue.css";

// Bootstrap Datepicker
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";

// AdminLTE
@import "~admin-lte/dist/css/AdminLTE";
@import "~admin-lte/dist/css/skins/_all-skins";

// 扩展
@import "~layerui/dist/theme/default/layer.css";
@import '~toastr/toastr.scss';
@import '~bootstrap-table/dist/bootstrap-table.min.css';
@import '~select2/dist/css/select2.css';
@import '~bootstrap-daterangepicker/daterangepicker.scss';
@import '~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss';
@import '~summernote/dist/summernote.css';

/* plupload預覽 */
.plupload-preview {
  padding: 0 10px;
  margin-bottom: 0;
  li {
    margin-top: 15px;
  }
  .thumbnail {
    margin-bottom: 10px;
  }
  a {
    display: block;
    img {
      height: 80px;
      object-fit: cover;
    }
    &:first-child {
      height: 90px;
    }
  }
}

/* nice-validator */
.msg-box .n-msg {
  color: #dd4b39;
  font-size: 10px;
}

/* login page */
.login-page {
  position: fixed;
  height: 100%;
  width: 100%;
  .login-avatar{
    margin-bottom: 10px;
    img {
      max-width: 100px;
    }
  }
}

/* breadcrumb */
 .content-header-sail {
  overflow: hidden;
  padding: 15px 15px 0 15px;
  position: relative;
  a {
    color: #777 !important;
    text-decoration: none !important;
  }
  .breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    vertical-align: top;
    > .active, li {
      color: #aaa;
    }
  }
  .shortcut a {
    margin-left: 10px;
  }
}

/* panel header*/
.panel-intro > .panel-heading .panel-lead em{
  display: block;
  font-weight: bold;
  font-style: normal;
}

/* layer page */
.layui-layer-footer {
  background: #F8F8F8;
}

/* bootstrap table */
.bootstrap-table {
  .bs-checkbox {
    vertical-align: middle;
  }
}

/* common serach */
.row-between .col-xs-6 + .col-xs-6:before {
  content: "-";
  position: absolute;
  left: -2%;
  top: 6px;
}

/* fieldlist */
.fieldlist {
  dd {
    display: block;
    margin: 5px 0;
    input {
      display: inline-block;
      width: 300px;
      &:first-child {
        width: 110px;
      }
    }
    ins {
      width: 110px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media (max-width: 480px) {
  .fixed-table-toolbar .columns-right.btn-group {
    display: none;
  }
}