<!-- Logo -->
<a href="javascript:;" class="logo">
  <span class="logo-mini"><b>A</b></span>
  <span class="logo-lg"><b>Admin</b></span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top">
  <div id="navbar-tabs">
    <a href="javascript:;" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs hidden" role="tablist">
      {$navlist|raw}
    </ul>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages -->
        <li class="dropdown messages-menu hidden">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <!-- inner menu -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="{:public_path('static/img/avatar.png')}" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>

        <!-- Notifications -->
        <li class="dropdown notifications-menu hidden">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- inner menu-->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        
        <!-- Tasks -->
        <li class="dropdown tasks-menu hidden">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <li>
              <!-- inner menu -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <h3>
                      Create a nice theme
                      <small class="pull-right">40%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">40% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>

        <!-- 清缓存 -->
        <li class='wipecache'>
          <a href="javascript:;"  title="{:__('Wipe cache')}"><i class="fa fa-trash"></i></a>
        </li>

        <!-- 多语言切换 -->
        {if config('app.lang_switch_on')}
        <li class="hidden-xs">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i></a>
          <ul class="dropdown-menu">
              <li class="{$config['language']=='zh-cn'?'active':''}">
                  <a href="?ref=addtabs&lang=zh-cn">简体中文</a>
              </li>
              <li class="{$config['language']=='en'?'active':''}">
                  <a href="?ref=addtabs&lang=en">English</a>
              </li>
          </ul>
        </li>
        {/if}

        <!-- User Account -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {if $admin.avatar}
            <img src="{$admin.avatar|cdnurl|htmlentities}" class="user-image" alt="User Image">
            {else /}
            <img src="{:public_path('static/img/avatar.png')}" class="user-image" alt="User Image">
            {/if}
            <span class="hidden-xs">{$admin.nickname|htmlentities}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              {if $admin.avatar}
              <img src="{$admin.avatar|cdnurl|htmlentities}" class="img-circle" alt="User Image">
              {else /}
              <img src="{:public_path('static/img/avatar.png')}" class="img-circle" alt="User Image">
              {/if}
              <p>
                {$admin.nickname|htmlentities}
                <small>{$admin.logintime|date="Y-m-d H:i:s"}</small>
              </p>
            </li>
            <li class="user-body hidden"></li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="{:url('general/profile')}" class="btn btn-default btn-flat addtabsit">{:__('Profile')}</a>
              </div>
              <div class="pull-right">
                <a href="{:url('index/logout')}" class="btn btn-default btn-flat">{:__('Sign out')}</a>
              </div>
            </li>
          </ul>
        </li>
        
        <!-- Control Sidebar Toggle Button -->
        <li class="hidden">
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>